name: Build for iOS

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: macos-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Theos Setup (Check Cache)
      id: verify-cache
      run: |
        #echo "::set-output name=heads::`git ls-remote https://github.com/theos/theos | head -n 1 | cut -f 1`-`git ls-remote https://github.com/xybp888/iOS-SDKs | head -n 1 | cut -f 1`"
        echo "::set-output name=heads::`git ls-remote https://github.com/roothide/theos | head -n 1 | cut -f 1`-`git ls-remote https://github.com/xybp888/iOS-SDKs | head -n 1 | cut -f 1`"

    - name: Theos Setup (Use Cache)
      id: cache
      uses: actions/cache@v3
      with:
        path: ${{ github.workspace }}/theos
        key: ${{ runner.os }}-${{ steps.verify-cache.outputs.heads }}

    - name: Theos Setup (Setup)
      uses: NyaMisty/theos-action@master
      with: 
        theos-src: https://github.com/roothide/theos
        #theos-sdks: https://github.com/xybp888/iOS-SDKs

    - name: Install dependencies
      run: |
        brew install ldid
        # Install any other dependencies if needed

    - name: Build
      run: |
        make clean
        make

    - name: Upload build artifacts
      uses: actions/upload-artifact@v4
      with:
        name: opainject-binary
        path: .theos/_/usr/local/bin/opainject